<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title size="small">
      Lista de letra y acordes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with a placeholder -->

  <ion-list class="#clas">
    <ion-item>
      <ion-searchbar placeholder="Buscar" (ionInput)="buscar($event)"></ion-searchbar>

      <ion-select interface="popover" placeholder="Ordenar" (ionChange)="ordenarPor($event)">
        <ion-select-option value="artista">Artista</ion-select-option>
        <ion-select-option value="genero">Género</ion-select-option>
        <ion-select-option value="nombre">Nombre</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


<!-- Item Dividers in a List -->
  <ion-list>
    <ion-item-sliding *ngFor="let cancion of lista" #slidingItem>
      <ion-item (click)="mostrarAjustes(cancion)">

        <div>
          <h5>
            {{cancion.nombre}} - {{cancion.genero}}
            <ion-icon name="star" side="end" *ngIf="esFavorito(cancion)"></ion-icon>
          </h5>
          <ion-label>{{cancion.artista}}</ion-label>
          
        </div>
      </ion-item>
      <ion-item-options side="start" (ionSwipe)="agregarFavorito(cancion, slidingItem)">
        <ion-item-option (click)="agregarFavorito(cancion, slidingItem)" color="medium">
          <ion-icon name="star-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end" (ionSwipe)="agregarFavorito(cancion, slidingItem)">
        <ion-item-option (click)="agregarFavorito(cancion, slidingItem)" color="medium">
          <ion-icon name="star-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>