<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button
        style="padding-left: .4em"
        text=""
        defaultHref="/"
      ></ion-back-button>
      </ion-buttons>
    <ion-title>{{cancion.nombre}} - {{cancion.artista}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <div class="frame" #scrollframe style="height:75%;width:100%;overflow:auto;border: solid;scroll-behavior: smooth;">
        <div *ngFor="let frase of cancion.contenido" class="item" #item>
          {{frase.acorde}}{{frase.tono}}{{frase.variacion}}<br>
          {{frase.letra}} <br><br>
        </div>
      </div>

</ion-content>
