<ion-header>
  <ion-toolbar>
    <ion-title>Registra Usuario</ion-title>
    <ion-buttons slot="start">
  		<ion-back-button
        style="padding-left: .4em"
        text=""
        defaultHref="/"
      ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    
    <ion-item >
      
      <ion-label position="floating">Usuario</ion-label>
      <ion-input #Usuario type="text" ></ion-input>
    </ion-item> 

    <ion-item  >
      <!--Type ya hace la validacion-->
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input #Contrasena type="password" ></ion-input>
    </ion-item>    

    <ion-item  >
      <!--Type ya hace la validacion-->
      <ion-label position="floating">Email</ion-label>
      <ion-input #Email type="email" ></ion-input>
    </ion-item>   

    <ion-item>
      <ion-button expand="full" (click)="guardaUsuario(Usuario.value, Contrasena.value, Email.value)">Registrar</ion-button>
    </ion-item>
   

  </ion-list>


  

</ion-content>