<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    
    <ion-item >
      
      <ion-label position="floating">Usuario</ion-label>
      <ion-input #Usuario type="text" ></ion-input>
    </ion-item> 

    <ion-item  >
      <!--Type ya hace la validacion-->
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input #Contrasena type="password" ></ion-input>
    </ion-item>    

    <ion-item>
      <ion-button expand="full" (click)="Login(Usuario.value, Contrasena.value)">Ingresar</ion-button>
    </ion-item>
    <p class="registration-info">
        Aun no te registras <span (click)="RegistraUsuario()" > Registrate </span>   
    </p>

  </ion-list>


  

</ion-content>
